@font-face {
  font-family: "Sora-bold";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Sora-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Sora-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Sora-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Sora-Light";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Sora-Light.ttf") format("ttf");
}
