<header class="header-navigation">
  <img src="/images/logo.svg" alt="logo" class="logo">
  <div class="navigation-wrapper">
    <input type="checkbox" id="navbar-input"/>
    <label for="navbar-input" class="navbar-input">
      <span class="navbar-input-span"></span>
      <span class="navbar-input-span"></span>
      <span class="navbar-input-span"></span>
    </label>
    <nav class="navbar">
      <ul class="list">
        <li class="list-item"><a href="#">Home</a></li>
        <li class="list-item"><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</header>
