<div class="movie-list">
  <div class="filter-wrapper">
    <div class="filter-headline-wrapper">
      <h1 class="filter-headline">
        Filter :
      </h1>
    </div>
    <div class="filter-button-wrapper">
      <button class="highestVoteFilter filterButton">Vote</button>
      <button class="comedyFilter filterButton">Comedy</button>
      <button class="actionFilter filterButton">Action</button>
      <button class="dramaFilter filterButton">Drama</button>
      <button class="thrillerFilter filterButton">Thriller</button>
      <button class="adventureFilter filterButton">Adventure</button>
      <button class="animationFilter filterButton">Animation</button>
      <button class="fantasyFilter filterButton">Fantasy</button>
      <button class="horrorFilter filterButton">Horror</button>
      <button class="crimeFilter filterButton">Crime</button>
      <button class="scienceFictionFilter filterButton">ScienceFiction</button>
      <button class="familyFilter filterButton">Family</button>
    </div>
  </div>
  <div class="movie-list-card-wrapper">
    {{ range (where .Site.Pages "Section" "movies") }}
      {{ range sort .Pages ".Params.vote_average" "desc" }}
        {{/* Permalink for detail page */}}
        {{ $permalink := .Permalink }}
        {{ with .Params }}
          {{ $name := .name }}
          {{ $genre_ids := .genre_ids }}
          {{ $vote := .vote_average }}
          {{ $poster := .poster_path }}
          <div class="movie-card movie-card--{{ index $genre_ids 0 }}" id="card" data-type="{{ index $genre_ids 0 }}" href="{{ $permalink | relURL }}">
            <a href="{{ $permalink | relURL }}">
              <img class="movie-image" src="{{ $poster }}" onerror="this.onerror=null;this.src='/images/movie-not-found.png';" alt="poster image of the movie {{ $name }}">
            </a>
            <div class="info-box-wrapper">
              <div class="info-box">
                <div class="info-box-closedot"></div>
                <img class="filter-image" src="{{ $poster }}" onerror="this.onerror=null;this.src='/images/movie-not-found.png';" alt="poster image of the movie {{ $name }}">
                <div class="filter">
                  <div class="text-box">
                    <div class="header">
                      {{ range where $.Site.Data.genres.genres ".id" (int (index $genre_ids 0)) }}
                        <h1 class="genre">{{ .name }}</h1>
                      {{ end }}
                      <div class="vote">
                        <img class="vote-image" src="/images/heart.png" alt="heart icon that show the vote">
                        <p class="count">{{ $vote}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
