* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
}

// Import base scss
@import "./base/fonts.scss";

// components

// modules
@import "./modules/_m-movie-list.scss";
@import "./modules/_m-stage.scss";
@import "./modules/_m-header.scss";
@import "./modules/m-single-stage.scss";
