.header-navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 35px 40px;
  z-index: 1;
  background-color: #171717;
}

.logo {
  height: 20px;
  width: auto;
}

.navigation-wrapper {
  position: relative;
  height: auto;
}

.navbar {
  display: none;
  position: absolute;
  width: auto;
  margin-top: 10px;
  right: 0px;

  @media only screen and (min-width: 756px) {
    display: block;
    margin-top: 0;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #000;
  padding: 20px 40px;
  border-radius: 15px;

  @media only screen and (min-width: 756px) {
    background-color: transparent;
    padding: 0;
    display: flex;
  }

  .list-item {
    margin: 10px 0;
    font-family: "Helvetica Neue", sans-serif;
    @media only screen and (min-width: 756px) {
      margin: 0 10px;
    }
  }

  .list-item a {
    text-decoration: none;
    color: #fff;
  }
}

.navbar-input {
  height: auto;
  width: 50px;

  @media only screen and (min-width: 756px) {
    display: none;
  }
}

.navbar-input-span {
  height: 2px;
  width: 30px;
  background-color: #fff;
  display: block;
  margin-bottom: 10px;

  @media only screen and (min-width: 756px) {
    display: none;
  }
}

#navbar-input {
  display: none;
}

#navbar-input:checked ~ .navbar {
  display: block;
}

#navbar-input:checked ~ .navbar-input-span {
  display: none;
}
